/* ==========================================================================
   Setup styleguide imports
   ========================================================================== */
/* ==========================================================================
   Colour palette (yeah we're British!)
   ========================================================================== */
/* ==========================================================================
   Variables
   * Settings
   * Global values
   * Breakpoints
   * Paths
   * Grid setup
   * Colour palette
   * Components
   ========================================================================== */
/*
    Typography
   ========================================================================== */
/*
   Font stacks
   ========================================================================== */
/*
   Breakpoints
   * There are no common breakpoints so these are just a suggestion
   * You'll need to define your own breakpoints to suit your design
   ========================================================================== */
/*
   Path vars
   ========================================================================== */
/*
   Choreographic Grid setup
   * Settings here override & affect the output in choreographic-grid.scss
   ========================================================================== */
/*
   App-specific variables
   Add common vars here
   ========================================================================== */
/* ==========================================================================
   Sass Mixins
   * Vendor Prefixer
   * Responsive
   * CSS3
   * Utility Mixins
   * hiDpi
   * Forms
   ========================================================================== */
/* Vendor prefixer */
/* Responsive mixins */
/* ==========================================================================
   Responsive media query mixins
   * These are used so that we can define separate media-query content
     for <IE9 and browsers with support for media queries
   * These are directly related to the global $fix-mqs var defined in
     kickoff-old-ie.scss
   * kickoff-old-ie.scss ignores any content in media-queries with values less
     than the $fix-mqs var value
   ========================================================================== */
/*
   Min-width media query:
   * Equivalent to: @media screen and (min-width: 20em) { ... }
   * Usage: @include respond-min(500) { ... };
   * Argument is a pixel value WITHOUT a unit of measurement
   ========================================================================== */
/*
   Max-width media query:
   * Equivalent to: @media screen and (max-width: 20em) { ... }
   * Usage: @include respond-max(500) { ... };
   * Argument is a pixel value WITHOUT a unit of measurement
   ========================================================================== */
/*
   Min-max-width media query:
   * Equivalent to: @media screen and (min-width: 10em) and (max-width: 20em) { ... }
   * Usage: @include respond-min-max(500, 600) { ... };
   * Arguments are pixel values WITHOUT a unit of measurement
   ========================================================================== */
/*
   Old IE specific mixin
   * Only use this content if we're dealing with old IE
   * Usage: @include oldie() { ... }
   ========================================================================== */
/* CSS3 */
/* ==========================================================================
   Linear Gradient
   Usage: @include linear-gradient(#000, #BADA55, horizontal, true);
   ========================================================================== */
/* ==========================================================================
   Radial Gradient
   Usage: @include radial-gradient(#000, #BADA55, true);
   ========================================================================== */
/**
 * Utility mixins
 * Clearfix, REM + fallbacks, @font-face, sizing shortcuts, other helpers
 */
/* ==========================================================================
   Utility Mixins
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* HiDPI */
/* FORMS */
/* ==========================================================================
   Normalize - CSS reset

   http://github.com/necolas/normalize.css
   Kickoff uses an amended version of this file.
   ========================================================================== */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/* ============ */
/* === BASE === */
/* ============ */
body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

figure {
  margin: 0;
}

button,
input {
  line-height: normal;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/* ==========================================================================
   Typography

   * Body text
   * Base
   * Paragraphs
   * Headings
   * Lists
   * Quotes
   * Links
   * Helper classes

   Body font size, leadings etc have been set in _variables.scss.
   The default typography has been built using gridlover.net with these settings:
   * Body font size    : 16
   * Body line height  : 1.4

   Resources:
   * http://www.gridlover.net/
   * http://modularscale.com/
   * http://lamb.cc/typograph/
   ========================================================================== */
html {
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 1 */
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-size: 1rem;
  line-height: 1;
  color: #b6ddd5;
}

/*
   Paragraphs
   ========================================================================== */
p {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 20px;
}

/*
   Headings
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
}

h1, .h1, .alpha {
  font-size: 36px;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 40px;
}

h2, .h2, .beta {
  font-size: 24px;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 20px;
}

h3, .h3, .gamma {
  font-size: 22px;
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 0;
}

h4, .h4, .delta,
h5, .h5, .epsilon,
h6, .h6, .zeta {
  margin-top: 0;
  margin-bottom: 0;
}

h4, .h4, .delta {
  font-size: 20px;
  font-size: 1rem;
}

h5, .h5, .epsilon {
  font-size: 16px;
  font-size: 0.8rem;
}

h6, .h6, .zeta {
  font-size: 14px;
  font-size: 0.7rem;
  text-transform: uppercase;
}

/*
   Links
   ========================================================================== */
a {
  color: #b6ddd5;
  text-decoration: none;
}
a:visited {
  color: #b6ddd5;
  text-decoration: none;
}
a:hover, a:focus {
  color: #70bdad;
}
a:active {
  color: black;
}

/*
   Lists
   ========================================================================== */
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  padding: 0;
  margin: 0 0 20px 20px;
}
ul ul, ul ol, ol ul, ol ol {
  margin-left: 40px;
}
ul ul, ol ul {
  list-style-type: circle;
}
ul ul ul, ol ul ul {
  list-style-type: square;
}
ul ol, ol ol {
  list-style-type: upper-roman;
}
ul ol ol, ol ol ol {
  list-style-type: lower-roman;
}
ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
}

.unstyled, form ul, .tabs, .l-tabsContent,
nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

/*
   Definition lists
   ========================================================================== */
dl {
  margin-bottom: 20px;
}

dt {
  font-weight: bold;
}
.dl-horizontal dt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  clear: left;
  width: 220px;
  text-align: right;
}

dd {
  margin-left: 20px;
}
.dl-horizontal dd {
  margin-left: 240px;
}

/*
   Miscellaneous rules
   ========================================================================== */
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #fff;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.muted {
  color: #b3b3b3;
}

abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/*
   Blockquotes
   ========================================================================== */
blockquote {
  padding-left: 10px;
  margin: 20px;
  border-left: 4px solid #cccccc;
}
blockquote p {
  margin-bottom: 0;
  font-size: 20px;
  font-size: 1rem;
  font-weight: 300;
}
blockquote small {
  display: block;
  color: #b3b3b3;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-left: 0;
  padding-right: 10px;
  border-left: 0;
  border-right: 4px solid #cccccc;
}
blockquote.pull-right, blockquote.pull-right p, blockquote.pull-right small {
  text-align: right;
}

q:before, q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
}

small {
  font-size: 75%;
}

cite {
  font-style: normal;
}

dfn {
  font-style: italic;
}

mark {
  background: #f1c40f;
  padding: 2px 4px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

samp {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

/*
   Utilities
   ========================================================================== */
.text-centre, .text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

::-moz-selection {
  color: white;
  background: #b6ddd5;
}

::selection {
  color: white;
  background: #b6ddd5;
}

/* ==========================================================================
   Forms
   * Generic form styles
   * Form inputs and groups
   * Form field feedback states
   * Horizontal & vertical forms
   * Horizontal-specific styles
   ========================================================================== */
/* ==========================================================================
   Generic form styles
   * Demo: http://tmwagency.github.io/kickoff/demos/forms.html#layout-example-labels-above
   * Code: https://gist.github.com/mrmartineau/6712577#file-labels-above-inputs-html
   Usage:
    <ul>
    	<li class="form-controlGroup">
    		<label for="name" class="form-controlGroup-label">Name</label>
    		<div class="form-controlGroup-input">
    			<input type="text" id="name" placeholder="Zander Martineau" />
    		</div>
    	</li>
    </ul>
   ========================================================================== */
form {
  margin: 0 0 20px;
}

/* Fieldset */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* ==========================================================================
   Form inputs and groups
   ========================================================================== */
.form-controlGroup {
  margin-top: 10px;
  list-style-type: none;
}
legend + .form-controlGroup {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}

label,
input,
button,
select,
textarea {
  font-size: 20px;
  font-size: 1rem;
  line-height: 1;
  font-weight: normal;
  vertical-align: baseline;
  *vertical-align: middle;
}

input,
button,
select,
textarea {
  font-family: "Quicksand", sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #4d4d4d;
  font-weight: bold;
}
label small {
  font-weight: normal;
  color: #999999;
}
label.checkbox, label.radio {
  font-weight: normal;
  line-height: 1.4;
}
label input, label textarea, label select {
  display: block;
}

input,
textarea,
select,
.fileWrapper {
  display: block;
  width: 100%;
  height: 2.5em;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 20px;
  font-size: 1rem;
  line-height: 1;
  color: #4d4d4d;
  background-color: white;
  border: 1px solid #cccccc;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.textarea--uneditable {
  width: auto;
  height: auto;
}

input[type="image"], input[type="checkbox"], input[type="radio"], input[type="range"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  line-height: normal;
  cursor: pointer;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="image"] {
  border: 0;
}
input[type="file"] {
  width: auto;
  height: 28px;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: white;
  background-color: initial;
  -o-box-shadow: none;
  box-shadow: none;
}
input[type="image"], input[type="range"], input[type="range"]:focus {
  -o-box-shadow: none;
  box-shadow: none;
}
input[type="hidden"] {
  display: none;
}
input[type="color"] {
  height: 40px;
  width: 40px;
  overflow: hidden;
  padding: 2px;
}
input[type="password"] {
  font-family: sans-serif;
}
input[type="range"] {
  width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
}

select {
  background-color: white;
}
select[multiple], select[size] {
  height: auto;
}

textarea {
  height: auto;
  resize: vertical;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-size: 1.5rem;
  line-height: 1;
  color: #4d4d4d;
  border: 0;
  border-bottom: 1px solid #eee;
  white-space: normal;
}
legend small {
  font-size: 15px;
  font-size: 0.75rem;
  color: #b3b3b3;
}

.radio,
.checkbox {
  padding-left: 18px;
}
.radio input[type="radio"], .radio input[type="checkbox"],
.checkbox input[type="radio"],
.checkbox input[type="checkbox"] {
  margin-left: -18px;
  margin-right: 5px;
  vertical-align: middle;
  display: inline;
}

.control--inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.control--inline + .control--inline {
  margin-left: 10px;
}

.form-controlGroup-input > .radio:first-child, .form-controlGroup-input > .checkbox:first-child {
  padding-top: 5px;
}

input,
textarea,
.fileWrapper {
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -o-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.input--mini {
  width: 60px;
}

.input--small {
  width: 90px;
}

.input--medium {
  width: 150px;
}

.input--large {
  width: 210px;
}

.input--xlarge {
  width: 270px;
}

.input--xxlarge {
  width: 530px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"] {
  float: none;
  margin-left: 0;
}

.fileWrapper input {
  width: 90%;
  line-height: 0;
}

input[disabled], input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #b3b3b3;
  border-color: #ddd;
  cursor: not-allowed;
}
input:focus:required:invalid,
select:focus:required:invalid,
textarea:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
select:focus:required:invalid:focus,
textarea:focus:required:invalid:focus {
  border-color: #e9322d;
  -o-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

/*
   Both horizontal & vertical forms
   ========================================================================== */
.form--inline input, .form--inline textarea, .form--inline select, .form--inline .form-helpInline,
.form--horizontal input,
.form--horizontal textarea,
.form--horizontal select,
.form--horizontal .form-helpInline {
  display: inline-block;
  margin-bottom: 0;
}
.form--inline .hide,
.form--horizontal .hide {
  display: none;
}

/*
   Inline & search forms specific styles
   ========================================================================== */
.form--inline > * {
  margin-right: 10px;
  vertical-align: top;
}
.form--inline > *:last-child {
  margin-right: 0;
}
.form--inline label {
  display: inline-block;
}
.form--inline .radio, .form--inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form--inline .radio input[type="radio"], .form--inline .checkbox input[type="checkbox"] {
  margin-left: 0;
  margin-right: 3px;
}

/*
   Search input
   ========================================================================== */
.form--search-input {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -o-border-radius: 100px;
  border-radius: 100px;
}

/*
   Form actions
   ========================================================================== */
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border-top: 1px solid #ddd;
  zoom: 1;
}
.form-actions:before, .form-actions:after {
  display: table;
  content: " ";
}
.form-actions:after {
  clear: both;
}
.form-actions .btn, .form-actions .tabs a, .tabs .form-actions a {
  margin-right: 10px;
}
.form-actions .btn:last-child, .form-actions .tabs a:last-child, .tabs .form-actions a:last-child {
  margin-right: 0;
}

/*
   Form field feedback states
   ========================================================================== */
.form-controlGroup.form-controlGroup--warning > label,
.form-controlGroup.form-controlGroup--warning .help-block,
.form-controlGroup.form-controlGroup--warning .help-inline {
  color: #c09853;
}
.form-controlGroup.form-controlGroup--warning input,
.form-controlGroup.form-controlGroup--warning select,
.form-controlGroup.form-controlGroup--warning textarea {
  color: #c09853;
  border-color: #c09853;
}
.form-controlGroup.form-controlGroup--warning input:focus,
.form-controlGroup.form-controlGroup--warning select:focus,
.form-controlGroup.form-controlGroup--warning textarea:focus {
  border-color: #a47e3c;
  -o-box-shadow: 0 0 6px #dbc59e;
  box-shadow: 0 0 6px #dbc59e;
}

.form-controlGroup.form-controlGroup--error > label,
.form-controlGroup.form-controlGroup--error .help-block,
.form-controlGroup.form-controlGroup--error .help-inline {
  color: #b94a48;
}
.form-controlGroup.form-controlGroup--error input,
.form-controlGroup.form-controlGroup--error select,
.form-controlGroup.form-controlGroup--error textarea {
  color: #b94a48;
  border-color: #b94a48;
}
.form-controlGroup.form-controlGroup--error input:focus,
.form-controlGroup.form-controlGroup--error select:focus,
.form-controlGroup.form-controlGroup--error textarea:focus {
  border-color: #953b39;
  -o-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}

.form-controlGroup.form-controlGroup--success > label,
.form-controlGroup.form-controlGroup--success .help-block,
.form-controlGroup.form-controlGroup--success .help-inline {
  color: #468847;
}
.form-controlGroup.form-controlGroup--success input,
.form-controlGroup.form-controlGroup--success select,
.form-controlGroup.form-controlGroup--success textarea {
  color: #468847;
  border-color: #468847;
}
.form-controlGroup.form-controlGroup--success input:focus,
.form-controlGroup.form-controlGroup--success select:focus,
.form-controlGroup.form-controlGroup--success textarea:focus {
  border-color: #356635;
  -o-box-shadow: 0 0 6px #7aba7b;
  box-shadow: 0 0 6px #7aba7b;
}

/*
   Placeholder text
   * Gets special styles; can't be bundled together though for some reason
   ========================================================================== */
:-ms-input-placeholder {
  color: #b3b3b3;
}

:-moz-placeholder {
  color: #b3b3b3;
}

::-webkit-input-placeholder {
  color: #b3b3b3;
}

.form-helpBlock,
.form-helpInline {
  color: #7f8c8d;
}

.form-helpBlock {
  display: block;
  margin-bottom: 10px;
}

.form-helpInline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

@media screen and (min-width: 48em) {
  /* ==========================================================================
     Horizontal-specific styles
     * add .form--horizontal to the <form> element
     * Demo: http://tmwagency.github.io/kickoff/demos/forms.html#layout-example-labels-inline
     * Code: https://gist.github.com/mrmartineau/6712577#file-labels-inline-html
     ========================================================================== */
  .form--horizontal .form-controlGroup {
    margin-bottom: 20px;
    zoom: 1;
  }
  .form--horizontal .form-controlGroup:before, .form--horizontal .form-controlGroup:after {
    display: table;
    content: " ";
  }
  .form--horizontal .form-controlGroup:after {
    clear: both;
  }
  .form--horizontal .form-controlGroup-label {
    float: left;
    width: 140px;
    padding-top: 5px;
    text-align: right;
  }
  .form--horizontal .form-controlGroup-input {
    margin-left: 160px;
  }
  .form--horizontal .form-controlGroup-input:first-child {
    *padding-left: 160px;
  }
  .form--horizontal .form-controlGroup .fileWrapper {
    margin-left: 0;
  }
  .form--horizontal .form-helpBlock {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .form--horizontal .form-actions {
    padding-left: 160px;
  }
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}
.table th, .table td {
  padding: 8px;
  line-height: 1;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table th, .table tfoot td {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table--condensed th, .table--condensed td {
  padding: 4px 5px;
}

.table--bordered {
  border: 1px solid #dddddd;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.table--bordered th, .table--bordered td {
  border-left: 1px solid #dddddd;
}
.table--bordered caption + thead tr:first-child th, .table--bordered caption + tbody tr:first-child th, .table--bordered caption + tbody tr:first-child td, .table--bordered colgroup + thead tr:first-child th, .table--bordered colgroup + tbody tr:first-child th, .table--bordered colgroup + tbody tr:first-child td, .table--bordered thead:first-child tr:first-child th, .table--bordered tbody:first-child tr:first-child th, .table--bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table--bordered thead:first-child tr:first-child th:first-child, .table--bordered tbody:first-child tr:first-child td:first-child {
  -o-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.table--bordered thead:first-child tr:first-child th:last-child, .table--bordered tbody:first-child tr:first-child td:last-child {
  -o-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.table--bordered thead:last-child tr:last-child th:first-child, .table--bordered tbody:last-child tr:last-child td:first-child {
  -o-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.table--bordered thead:last-child tr:last-child th:last-child, .table--bordered tbody:last-child tr:last-child td:last-child {
  -o-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}

.table--striped tbody tr:nth-child(odd) td, .table--striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: whitesmoke;
}

/* ==========================================================================
   Preformatted code
   Code typography styles for the <code> and <pre> elements
   ========================================================================== */
code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 13px;
  font-size: 0.65rem;
  color: #dd1144;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-tab-size: 3;
  tab-size: 3;
}

code {
  padding: 2px 4px;
  color: #dd1144;
  background-color: #fbefc0;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1;
  color: #222222;
  background-color: #f7f7f9;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -o-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre.prettyprint {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
  color: #222222;
  background-color: #f7f7f9;
  border: 0;
}

.pre--scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

.btn, .tabs a {
  display: inline-block;
  /* [1] */
  vertical-align: middle;
  /* [2] */
  white-space: nowrap;
  /* [3] */
  font-family: inherit;
  /* [4] */
  font-size: 100%;
  /* [4] */
  cursor: pointer;
  /* [5] */
  border: none;
  /* [6] */
  margin: 0;
  /* [6] */
  padding-top: 0;
  /* [6] */
  padding-bottom: 0;
  /* [6] */
  line-height: 2.5;
  /* [7] */
  height: 2.5em;
  /* [7] */
  padding-right: 1.5em;
  /* [7] */
  padding-left: 1.5em;
  /* [7] */
  overflow: visible;
  /* [8] */
  text-align: center;
  background-color: white;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn, .tabs a, .btn:hover, .tabs a:hover, .btn:active, .tabs a:active, .btn:focus, .tabs a:focus, .btn:visited, .tabs a:visited {
  text-decoration: none;
}
.btn:active, .tabs a:active, .btn:focus, .tabs a:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}
.btn.disabled, .tabs a.disabled, .btn[disabled], .tabs a[disabled] {
  cursor: default;
  background-image: none;
  zoom: 1;
  filter: alpha(opacity=65);
  opacity: 0.65;
  -o-box-shadow: none;
  box-shadow: none;
}

.btn--large {
  font-size: 23px;
  font-size: 1.15rem;
  line-height: 3;
  height: 3em;
  padding-right: 2em;
  padding-left: 2em;
  -o-border-radius: 6px;
  border-radius: 6px;
}

.btn--small {
  font-size: 13px;
  font-size: 0.65rem;
  line-height: 1.5;
  height: 1.5em;
  padding-right: 0.75em;
  padding-left: 0.75em;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.btn--pill {
  padding-left: 1.5em;
  padding-right: 1.5em;
  -o-border-radius: 100em;
  border-radius: 100em;
}

.btn--block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.btn--block + .btn--block {
  margin-top: 10px;
}

input[type="submit"].btn--block,
input[type="reset"].btn--block,
input[type="button"].btn--block {
  width: 100%;
}

.btn--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.btn--primary {
  background-color: #b6ddd5;
  color: #fff !important;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.btn--primary:hover {
  background-color: #2c3e50;
}

.btn--link,
.btn--link:active,
.btn--link[disabled] {
  background-color: transparent;
  background-image: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.btn--link {
  border-color: transparent;
  cursor: pointer;
  color: #b6ddd5;
  -o-border-radius: 0;
  border-radius: 0;
}

.btn--link:hover,
.btn--link:focus {
  color: #70bdad;
  text-decoration: underline;
  background-color: transparent;
}

.btn--link[disabled]:hover,
.btn--link[disabled]:focus {
  color: #333;
  text-decoration: none;
}

/*
   Close Button: for lightboxes etc
   ========================================================================== */
.btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 17px;
  background: #000;
  color: #b6ddd5;
  text-align: center;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-close:hover {
  color: #fff;
  -o-border-radius: 50px;
  border-radius: 50px;
}

/*
	Embedded content
	========================================================================== */
img {
  font-style: italic;
  color: #c00;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
img.img--left {
  margin: 0 20px 0 0;
}
img.img--right {
  margin: 0 0 0 20px;
}

svg:not(:root) {
  overflow: hidden;
}

img, object, embed, video {
  max-width: 100%;
}

/*
	Centred lists

	<ul class="l-list--centred">
		<li></li>
	</ul>
	========================================================================== */
.l-list--centred, .l-list--centered {
  text-align: center;
}
.l-list--centred li, .l-list--centered li {
  display: inline;
}

/*
	Floated lists

	<ul class="l-list--floated">
		<li></li>
	</ul>
	========================================================================== */
.l-list--floated {
  zoom: 1;
}
.l-list--floated:before, .l-list--floated:after {
  display: table;
  content: " ";
}
.l-list--floated:after {
  clear: both;
}
.l-list--floated li {
  float: left;
  display: inline-block;
}

/*
	Wells

	Use the well as a simple effect on an element to give it an inset effect
	<div class="well"></div>
	========================================================================== */
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -o-border-radius: 4px;
  border-radius: 4px;
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well--large {
  padding: 24px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

.well--small {
  padding: 9px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/*
	Tabs

	* Usage:
	<ul class="tabs">
		<li><a href="#tabs-example-1" class="is-active">Tab 1</a></li>
		<li><a href="#tabs-example-2">Tab 2</a></li>
	</ul>

	<!-- Tabs Content -->
	<ul class="l-tabsContent">
		<li id="tabs-example-1" class="is-active">
			Tab 1 content
		</li>

		<li id="tabs-example-2">
			Tab 2 content
		</li>
	</ul>
	========================================================================== */
.tabs {
  zoom: 1;
  margin-bottom: 20px;
  border-bottom: 2px solid #b6ddd5;
}
.tabs:before, .tabs:after {
  display: table;
  content: " ";
}
.tabs:after {
  clear: both;
}
.tabs.tabs--alignRight li {
  float: right;
}
.tabs.tabs--alignCentre, .tabs.tabs--alignCenter {
  text-align: center;
}
.tabs.tabs--alignCentre > li, .tabs.tabs--alignCenter > li {
  display: inline;
  float: none;
}
.tabs > li {
  float: left;
  margin: 0 5px;
}
.tabs a {
  background-color: #95a5a6;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #fff;
}
.tabs a.is-active {
  background-color: #b6ddd5;
}

.l-tabsContent > li {
  display: none;
}
.l-tabsContent > li.is-active {
  display: block;
}

/*
	Media Object

	* Place any image- and text-like content side-by-side, as per:
	* stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
	*
	** Image is optional **
	*
	* Markup:
	*
	<div class="media">
		<img src="http://placekitten.com/100/100" alt="" class="media-img>"
		<p class="media-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
	========================================================================== */
.media {
  display: block;
  padding: 20px 0;
}

/*
   Add image to left or right
   ========================================================================== */
.media-img {
  margin-right: 20px;
}

/**
 * Reversed image location (right instead of left).
 */
.media-img--rev {
  float: right;
  margin-left: 20px;
}

.media-img img,
.media-img--rev img {
  display: block;
}

.media-body {
  overflow: hidden;
}

.media-body,
.media-body > :last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 25em) {
  .media {
    padding: 35px 0;
  }

  .media--zeroTopPad {
    padding-top: 0;
  }

  .media-img {
    float: left;
  }
}
/*
	Media Object

	* Place any image- and text-like content side-by-side, as per:
	* stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
	* E.g.:
	*
	<div class="media">
		<img src="http://placekitten.com/100/100" alt="" class="media-img>"
		<p class="media-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
	========================================================================== */
.media {
  display: block;
}

.media-img {
  float: left;
  margin-right: 20px;
}

/**
 * Reversed image location (right instead of left).
 */
.media-img--rev {
  float: right;
  margin-left: 20px;
}

.media-img img,
.media-img--rev img {
  display: block;
}

.media-body {
  overflow: hidden;
}

.media-body,
.media-body > :last-child {
  margin-bottom: 0;
}

/**
 * Consider moving images and floats so only wide viewports see them
 */
/*
   Fluid width video
   * 16:9 aspect ratio by default
   * Usage:
   * <div class="fluidVideo"><iframe src="..."/></div
   ========================================================================== */
.fluidVideo {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.fluidVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
   Block grids

   These are 2-up, 3-up, 4-up and 5-up ULs, suited for repeating blocks of content. Add 'mobile' to them to switch them just like the layout grid (one item per line) on phones. For IE7/8 compatibility blockGrid items need to be the same height. You can optionally uncomment the lines below to support arbitrary height, but know that IE7/8 do not support :nth-child.

   Usage:
   <ul class="l-blockGrid l-blockGrid--twoUp">
       <li></li>
   </ul>
   ========================================================================== */
.l-blockGrid {
  display: block;
  list-style-type: none;
  zoom: 1;
}
.l-blockGrid:before, .l-blockGrid:after {
  display: table;
  content: " ";
}
.l-blockGrid:after {
  clear: both;
}
.l-blockGrid li {
  display: block;
  height: auto;
}

@media screen and (min-width: 48em) {
  .l-blockGrid li {
    display: block;
    height: auto;
    float: left;
  }
  .l-blockGrid.l-blockGrid--twoUp {
    margin-left: -4%;
  }
  .l-blockGrid.l-blockGrid--twoUp li {
    margin-left: 4%;
    width: 46%;
    margin-bottom: 4%;
  }
  .l-blockGrid.l-blockGrid--threeUp {
    margin-left: -2%;
  }
  .l-blockGrid.l-blockGrid--threeUp li {
    margin-left: 2%;
    width: 31.3%;
    margin-bottom: 2%;
  }
  .l-blockGrid.l-blockGrid--fourUp {
    margin-left: -2%;
  }
  .l-blockGrid.l-blockGrid--fourUp li {
    margin-left: 2%;
    width: 23%;
    margin-bottom: 2%;
  }
  .l-blockGrid.l-blockGrid--fiveUp {
    margin-left: -1.5%;
  }
  .l-blockGrid.l-blockGrid--fiveUp li {
    margin-left: 1.5%;
    width: 18.5%;
    margin-bottom: 1.5%;
  }
}
/* ==========================================================================
	 The Choreographic Grid
	 * Grid setup
	 * Grid helpers/mixins
	 * Default grid styles
	 * Media queries
	 * Centred columns
	 ========================================================================== */
/*
	 Basic Usage:
	 <div class="g-row">
			 <div class="g-col g-span4"></div>
			 <div class="g-col g-span8"></div>
	 </div>
	 ========================================================================== */
/*
	 Import Grid helpers and mixins
	 ========================================================================== */
/* ==========================================================================
   Choreographic Grid helpers
   ========================================================================== */
/*
	 Grid Setup Defaults
	 * Choose your grid options.
	 ** THESE WILL BE OVERRIDDEN BY THE SETTINGS IN _variables.scss **
	 ========================================================================== */
/* Setup grid defaults */
/* Column Padding */
/*
   Grid column mixin
   ========================================================================== */
/*
   Grid columns width calcs
   ========================================================================== */
/*
   Column width mixin
   ========================================================================== */
/*
   Gutter calcs
   * Default: percent
   * Usage: gutterCalc() or gutterCalc(false)
   ========================================================================== */
/*
   Column padding (gutter)
   * Default: percent (can be pixels though)
   * Usage: paddingCalc() or paddingCalc(px)
   ========================================================================== */
/*
   Shunts, offset columns, column source order calculations
   ========================================================================== */
/* ==========================================================================
	 Default grid styles
	 ========================================================================== */
.g-container {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.lt-ie9 .g-container {
  min-width: 1000px;
}

.g-row {
  width: 100%;
  margin: 0 auto;
  zoom: 1;
}
.g-row:before, .g-row:after {
  content: " ";
  display: table;
}
.g-row:after {
  clear: both;
}
.g-row .g-row {
  min-width: 0;
}
.g-row .g-row .g-col {
  padding: 0;
}

/* ==========================================================================
	 Media queries
	 ========================================================================== */
@media screen and (min-width: 48em) {
  .g-col {
    margin-left: 2.17391304%;
    float: left;
    min-height: 1px;
    position: relative;
    clear: none;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .g-col:first-child {
    margin-left: 0;
  }
  .g-col + .g-col:last-child {
    float: right;
  }
  .g-col + .g-col.end {
    float: left;
  }

  .g-span1, .g-mq-alpha-resize-to1 {
    width: 6.34057971%;
  }

  .g-span2, .g-mq-alpha-resize-to2 {
    width: 14.85507246%;
  }

  .g-span3, .g-mq-alpha-resize-to3 {
    width: 23.36956522%;
  }

  .g-span4, .g-mq-alpha-resize-to4 {
    width: 31.88405797%;
  }

  .g-span5, .g-mq-alpha-resize-to5 {
    width: 40.39855072%;
  }

  .g-span6, .g-mq-alpha-resize-to6 {
    width: 48.91304348%;
  }

  .g-span7, .g-mq-alpha-resize-to7 {
    width: 57.42753623%;
  }

  .g-span8, .g-mq-alpha-resize-to8 {
    width: 65.94202899%;
  }

  .g-span9, .g-mq-alpha-resize-to9 {
    width: 74.45652174%;
  }

  .g-span10, .g-mq-alpha-resize-to10 {
    width: 82.97101449%;
  }

  .g-span11, .g-mq-alpha-resize-to11 {
    width: 91.48550725%;
  }

  .g-span12, .g-mq-alpha-resize-to12 {
    width: 100%;
  }

  .g-split .g-col, .g-shunt {
    float: none;
    margin-left: 0;
    min-height: 1px;
    position: relative;
    width: 100%;
    clear: both;
  }
}
@media screen and (min-width: 62em) {
  .g-mq-beta-end {
    float: right;
  }

  .g-mq-beta-end {
    float: left;
  }
}
/*
	 Centred columns
	 ========================================================================== */
.g-centered.g-col, .g-centred.g-col {
  float: none;
  margin: 0 auto;
}

/* ==========================================================================
   Global app/site styles
   ========================================================================== */
@font-face {
  font-family: 'hello_goodbyeregular';
  src: url("../assets/hellogoodbye-webfont.eot");
  src: url("../assets/hellogoodbye-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/hellogoodbye-webfont.woff") format("woff"), url("../assets/hellogoodbye-webfont.ttf") format("truetype"), url("../assets/hellogoodbye-webfont.svg#hello_goodbyeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  background: url(../images/bg.png) center center no-repeat fixed #f7e3c2;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.png', sizingMethod='scale')";
  min-height: 100%;
}

.g-container a {
  text-shadow: 3px 3px 2px #969696;
}

/* ==========================================================================
   masthead - navigation
   ========================================================================== */
.navigation {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}
@media screen and (min-width: 48em) {
  .navigation {
    padding: 0 30px;
  }
}

.navigationLink {
  font-family: 'hello_goodbyeregular';
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  font-size: 1.4rem;
  padding: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* ==========================================================================
   Head Container
   ========================================================================== */
.headContainer {
  text-align: center;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.title {
  font-weight: bolder;
}
.title span {
  font-size: 2.8rem;
}
@media screen and (min-width: 48em) {
  .title span {
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 48em) {
  .title {
    font-size: 2.8rem;
  }
}

.date {
  font-weight: lighter;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 48em) {
  .date {
    font-size: 2rem;
  }
}

.location {
  font-weight: lighter;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 48em) {
  .location {
    font-size: 2rem;
  }
}
.location span {
  white-space: nowrap;
}

/* ==========================================================================
   Content Container
   ========================================================================== */
.contentContainer {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background-color: rgba(248, 216, 205, 0.7);
  padding: 10px 15px;
  color: #000;
}
.contentContainer h2 {
  font-family: 'hello_goodbyeregular';
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 2rem;
}
.contentContainer .story {
  font-size: 1.05rem;
}
.contentContainer figure, .contentContainer .activity {
  margin-bottom: 10px;
  width: 100%;
}
@media screen and (min-width: 48em) {
  .contentContainer {
    width: 90%;
    text-align: left;
  }
}

.timer {
  color: #b6ddd5;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 15px;
  text-align: center !important;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  width: 100%;
}

.left {
  display: block;
}
@media screen and (min-width: 48em) {
  .left {
    float: left;
    margin: 0 10px 10px 0;
  }
}

.right {
  display: block;
  float: right;
  margin: 0 0 10px 10px;
}

.resize {
  width: 100%;
}
@media screen and (min-width: 48em) {
  .resize {
    width: 30%;
  }
}

.containerHeading {
  text-align: center;
}
@media screen and (min-width: 48em) {
  .containerHeading {
    text-align: left;
  }
}

.photos {
  width: 100%;
}

figure.profile {
  margin-bottom: 15px;
}

.profile img {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 48em) {
  .profile img {
    float: left;
    margin-right: 10px;
  }
}

.profile figcaption {
  text-align: center;
}
@media screen and (min-width: 48em) {
  .profile figcaption {
    text-align: left;
  }
}
.profile figcaption h3 {
  font-weight: bold;
  font-size: 1.4rem;
}
.profile figcaption h4 {
  font-size: 1.1rem;
  margin: 4px 0 4px;
}

.no-wrap {
  white-space: no-wrap;
}

@media screen and (min-width: 25em) {
  .activity {
    margin-bottom: 15px;
  }
}

.activityHeader {
  margin-bottom: 5px;
}

.moreInfo {
  display: block;
  margin-top: 5px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.activityImage {
  width: 160px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 5px;
}
@media screen and (min-width: 48em) {
  .activityImage {
    float: left;
    margin-right: 10px;
  }
}

.bigDay {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  width: 100%;
  text-align: center;
  margin: 10px auto 30px;
  position: relative;
  bottom: 0;
}
@media screen and (min-width: 48em) {
  .footer {
    width: 100%;
  }
}
.footer img {
  width: 60%;
}
@media screen and (min-width: 48em) {
  .footer img {
    width: 20%;
  }
}

.fixed {
  position: relative;
}
@media screen and (min-width: 48em) {
  .fixed {
    position: fixed;
  }
}

/* ==========================================================================
   Media queries for responsive design
   ========================================================================== */
/*
   Retina media query
   ========================================================================== */
@media screen and (min-width: 48em) {
  .hide {
    display: none;
  }
}
/* ==========================================================================
   Utilities
   Non-semantic helper classes
   ========================================================================== */
/**
 * Clearfix
 * See mixins/_utility.scss for a mixin version of this
 */
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

.ir br {
  display: none;
}

.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

.is-shown {
  display: block;
}

.is-visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.is-visuallyHidden.focusable:active, .is-visuallyHidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.is-invisible {
  visibility: hidden;
}

.l-floatLeft {
  float: left;
}

.l-floatRight {
  float: right;
}

.l-clear {
  clear: both;
  float: none;
}

.l-mb0 {
  margin-bottom: 0 !important;
}

.l-mt0 {
  margin-top: 0 !important;
}

/* ==========================================================================
   Responsive Utilities
   ========================================================================== */
@-ms-viewport {
  width: device-width;
}
* {
  -webkit-tap-highlight-color: #b6ddd5 !important;
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
  -webkit-appearance: none;
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   Styleguide styles
   ========================================================================== */
body {
  background-color: #f1f1f1;
}

.well {
  min-height: 90px;
}

.g-container {
  -o-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #fff;
  margin-top: 3%;
  margin-bottom: 3%;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.g-row + .g-row {
  margin-top: 30px;
}

.g-span12 + .g-span12 {
  margin-top: 30px;
}

.section-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: .3em;
  margin-top: 1em;
}

.interfaceType, .section-heading, .typeSpecimen:after {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.interfaceType-subtle, .typeSpecimen:after {
  color: #888;
}

.masthead h1 {
  margin-bottom: 0;
}

/*
   Colours
   ========================================================================== */
.swatch {
  height: 120px;
}

.color-primary {
  color: #b6ddd5;
}
.color-primary.bg {
  background-color: #b6ddd5;
  color: #fff;
}
.color-primary.bg:after {
  content: "#b6ddd5";
}

.color-secondary {
  color: #f8d8cd;
}
.color-secondary.bg {
  background-color: #f8d8cd;
  color: #fff;
}
.color-secondary.bg:after {
  content: "#f8d8cd";
}

.color-highlight {
  color: #f7e3c2;
}
.color-highlight.bg {
  background-color: #f7e3c2;
  color: #fff;
}
.color-highlight.bg:after {
  content: "#f7e3c2";
}

.color-text {
  color: #b6ddd5;
}
.color-text.bg {
  background-color: #b6ddd5;
  color: #fff;
}
.color-text.bg:after {
  content: "#b6ddd5";
}

.color-background {
  color: #f7e3c2;
}
.color-background.bg {
  background-color: #f7e3c2;
  color: #444;
}
.color-background.bg:after {
  content: "#f7e3c2";
}

.color-link {
  color: #b6ddd5;
}
.color-link.bg {
  background-color: #b6ddd5;
  color: #fff;
}
.color-link.bg:after {
  content: "#b6ddd5";
}

.color-link-hover {
  color: #70bdad;
}
.color-link-hover.bg {
  background-color: #70bdad;
  color: #fff;
}
.color-link-hover.bg:after {
  content: "#70bdad";
}

.typography .info p {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.typography .example {
  margin: 1em 0;
}
.typography .example h1:after {
  content: " - 36px";
}
.typography .example h2:after {
  content: " - 24px";
}
.typography .example h3:after {
  content: " - 22px";
}
.typography .example h4:after {
  content: " - 20px";
}
.typography .example h5:after {
  content: " - 16px";
}
.typography .example h6:after {
  content: " - 14px";
}
.typography .example h1:after, .typography .example h2:after, .typography .example h3:after, .typography .example h4:after, .typography .example h5:after, .typography .example h6:after {
  text-transform: lowercase;
}
.typography .example .interfaceType:after, .typography .example .section-heading:after, .typography .example .typeSpecimen:after {
  content: "";
}

.typeSpecimen {
  margin-bottom: 0;
  margin-top: 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.typeSpecimen:after {
  display: block;
  font-size: 16px;
  font-size: 0.8rem;
  margin-top: 5px;
  border-top: 1px solid #ddd;
  font-weight: normal;
}

h1.typeSpecimen:after {
  content: "Font stack: inherit";
}

p.typeSpecimen:after {
  content: 'Font stack: "Quicksand", sans-serif';
}

/*# sourceMappingURL=styleguide.css.map */