/* ==========================================================================
   Global app/site styles
   ========================================================================== */
@font-face {
    font-family: 'hello_goodbyeregular';
    src: url('../assets/hellogoodbye-webfont.eot');
    src: url('../assets/hellogoodbye-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/hellogoodbye-webfont.woff') format('woff'),
         url('../assets/hellogoodbye-webfont.ttf') format('truetype'),
         url('../assets/hellogoodbye-webfont.svg#hello_goodbyeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	background: url(../images/bg.png) center center no-repeat fixed $color-background;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg.png', sizingMethod='scale')";
	min-height: 100%;
}

body {
}

.g-container a {
	text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

/* ==========================================================================
   masthead - navigation
   ========================================================================== */

.navigation {
	text-align: center;
	margin: 0 auto;
	width: 90%;

	@include respond-min($breakpoint-mid) {
		padding: 0 30px;
	}
}

.navigationLink {
	font-family: 'hello_goodbyeregular';
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	font-size: 1.4rem;
	padding: 5px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}


/* ==========================================================================
   Head Container
   ========================================================================== */

.headContainer {
	text-align: center;
	width: 90%;
	margin: 10px auto;
	padding: 10px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.title {
	font-weight: bolder;

	span {
		font-size: 2.8rem;

		@include respond-min($breakpoint-mid) {
			font-size: 4.8rem;
		}
	}

	@include respond-min($breakpoint-mid) {
		font-size: 2.8rem;
	}
}

.date {
	font-weight: lighter;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
	@include respond-min($breakpoint-mid) {
		font-size: 2rem;
	}
}

.location {
	font-weight: lighter;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
	@include respond-min($breakpoint-mid) {
		font-size: 2rem;
	}
	span {
		white-space: nowrap;
	}
}

/* ==========================================================================
   Content Container
   ========================================================================== */

   .contentContainer {
	   	text-align: center;
		margin: 0 auto;
		width: 100%;
		background-color: rgba(248, 216, 205, 0.7);
		padding: 10px 15px;
		color: #000;

		h2 {
			font-family: 'hello_goodbyeregular';
			font-weight: bold;
			padding-bottom: 5px;
			font-size: 2rem;
			// border-bottom: dashed 2px rgba(0, 0, 0, 0.7);
		}

		.story {
			font-size:  1.05rem;
		}

		figure, .activity {
			margin-bottom: 10px;
			width: 100%;
		}
		@include respond-min($breakpoint-mid) {
			width: 90%;
			text-align: left;
		}
	}

	.timer {
		color: #b6ddd5;
		font-size: 2rem;
		font-weight: bold;
		margin: 0 auto;
		padding: 10px 15px;
		text-align: center !important;
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
		width: 100%;
	}

	.left {
		display: block;

		@include respond-min($breakpoint-mid) {
			float: left;
			margin: 0 10px 10px 0;
		}
	}

	.right {
		display: block;
		float: right;
		margin: 0 0 10px 10px;
	}

	.resize {
		width: 100%;

		@include respond-min($breakpoint-mid) {
			width: 30%;
		}
	}

	.containerHeading {
		text-align: center;

		@include respond-min($breakpoint-mid) {
			text-align: left;
		}
	}

	.photos {
		width: 100%;
	}

	figure.profile {
		margin-bottom: 15px;
	}

	.profile img {
		display: block;
		margin: 0 auto;

		@include respond-min($breakpoint-mid) {
			float: left;
			margin-right: 10px;
		}
	}

	.profile figcaption {
		text-align: center;

		@include respond-min($breakpoint-mid) {
			text-align: left;
		}

		h3 {
			font-weight: bold;
			font-size: 1.4rem;
		}

		h4 {
			font-size: 1.1rem;
			margin: 4px 0 4px;
		}
	}

	.no-wrap {
		white-space: no-wrap;
	}

	.activity {
		@include respond-min($breakpoint-narrow) {
			margin-bottom: 15px;
		}
	}

	.activityHeader {
		margin-bottom: 5px;
	}

	.moreInfo {
		display: block;
		margin-top: 5px;
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
	}

	.activityImage {
		width: 160px;
		height: auto;
		margin: 0 auto;
		display: block;
		margin-bottom: 5px;

		@include respond-min($breakpoint-mid) {
			float: left;
			margin-right: 10px;
		}
	}

	.bigDay {
		padding-bottom: 10px;
		border-bottom: 1px solid #000;
		margin-bottom: 30px;
	}


/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
   	width: 100%;
   	text-align: center;
   	margin: 10px auto 30px;
   	position: relative;
   	bottom: 0;
	@include respond-min($breakpoint-mid) {
		width: 100%;
	}

   	img {
   		width: 60%;
   		@include respond-min($breakpoint-mid) {
   			width: 20%;
   		}
   	}
}

.fixed {
	position: relative;

	@include respond-min($breakpoint-mid) {
		position: fixed;
	}
}


/* ==========================================================================
   Media queries for responsive design
   ========================================================================== */

/*
   Retina media query
   ========================================================================== */
@include hidpi() {

}



// === $breakpoint-narrow> ===
@include respond-min($breakpoint-narrow) {

}
// === end $breakpoint-narrow> ===



// === $breakpoint-mid> ===
@include respond-min($breakpoint-mid) {
	.hide {
		display: none;
	}
}
// === end $breakpoint-mid> ===


// === $breakpoint-wide> ===
@include respond-min($breakpoint-wide) {

}
// === end $breakpoint-wide> ===


// === $breakpoint-huge> ===
@include respond-min($breakpoint-huge) {

}
// === end $breakpoint-huge> ===
