/* ==========================================================================
   Variables
   * Settings
   * Global values
   * Breakpoints
   * Paths
   * Grid setup
   * Colour palette
   * Components
   ========================================================================== */

/*
    Typography
   ========================================================================== */
// Base sizes
// Set this in pixels, the font-size mixin will convert to REMS
$base-font-size                : 20;
$h1-size                       : 36 !default; // .alpha
$h2-size                       : 24 !default; // .beta
$h3-size                       : 22 !default; // .gamma
$h4-size                       : 20 !default; // .delta
$h5-size                       : 16 !default; // .epsilon
$h6-size                       : 14 !default; // .zeta

$base-leading                  : 1;
$base-line-height              : round($base-font-size * $base-leading);

// Useful to set here when bold webfonts come as 400 font-weight.
$bold-font-weight             : bold;

/*
   Font stacks
   ========================================================================== */
$sans-font-family             : 'Quicksand', sans-serif;
$serif-font-family            : Georgia, "Times New Roman", Times, serif;
$mono-font-family             : Menlo, Monaco, "Courier New", monospace;

$base-font-family             : $sans-font-family;
$alt-font-family              : $serif-font-family;

$headings-font-family         : inherit; // empty to use Kickoff default $base-font-family
$headings-font-weight         : bold;    // instead of browser default, bold


/*
   Breakpoints
   * There are no common breakpoints so these are just a suggestion
   * You'll need to define your own breakpoints to suit your design
   ========================================================================== */
$breakpoint-narrow            : 400;  // Set in px
$breakpoint-mid               : 768;  // Set in px
$breakpoint-wide              : 992;  // Set in px
$breakpoint-huge              : 1600; // Set in px
$breakpoint-single-col        : $breakpoint-mid; // Break to single column


/*
   Path vars
   ========================================================================== */
// Usage
// background: url('#{$img-path}/img.jpg') 0 0 no-repeat;

$img-path                     : "/img";
$img-ui-path                  : "#{$img-path}/ui";


/*
   Choreographic Grid setup
   * Settings here override & affect the output in choreographic-grid.scss
   ========================================================================== */

// Setup grid defaults
$gridColumnCount              : 12    ; // Total column count
$gridGutterWidth              : 20    ; // [in pixels]
$gridMaxWidth                 : 1000  ; // [in pixels]
$gridMinWidth                 : 1000  ; // [in pixels] Minimum width for grid in <IE9
$gridMargin                   : 0     ; // [in pixels] Space outside the grid

// Column Padding
$gridColumnPadding            : 10    ; // [in pixels]
$gridColumnPaddingUnit        : 'px'  ; // [in pixels or percent] Specify your unit of measurement for column padding
$nestedColumnPadding          : false ; // Remove padding on nested columns so they are aligned correctly. Set this to [false] to enable it.

// Choose your grid options
$usingPushPullColumns         : false ; // Allow columns to be pushed & pulled
$usingOffsetcolumns           : false ; // Allow columns to be offset
$usingSplitsAndShunts         : false ; // Use Splits & Shunts for responsive web design



/*
   App-specific variables
   Add common vars here
   ========================================================================== */
$link-transition: all 100ms ease-in-out;
